# Copyright (C) 2023 The XPerience Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#XPerience Yuki kernel configuration
# 
on property:vendor.post_boot.parsed=1
	# Limit max perf event processing time to this much CPU usage
    write /proc/sys/kernel/perf_cpu_time_max_percent 15

	# Execute child process before parent after fork
	write /proc/sys/kernel/sched_child_runs_first 1

	# Always allow sched boosting on top-app tasks
	write /proc/sys/kernel/sched_min_task_util_for_colocation 0

	# Start blocking writeback later
	write /proc/sys/vm/dirty_ratio 30

	# Enable Explicit Congestion Control
	write /proc/sys/net/ipv4/tcp_ecn 1

	# Enable fast socket open for receiver and sender
	write /proc/sys/net/ipv4/tcp_fastopen 3

	# Prefer to schedule top-app tasks on idle CPUs
	write /dev/stune/top-app/schedtune.prefer_idle 1

	# Mark top-app as boosted, find high-performing CPUs
	write /dev/stune/top-app/schedtune.boost 1

    # Workqueue Affinity to reduce jitter 
	# Set to cpu 0-3 and more conservative
	# https://bitsum.com/tools/cpu-affinity-calculator/
    write /sys/devices/virtual/workqueue/cpumask 3